/* bitte mit Suchen & Ersetzen "name" mit
     deinem Vornamen ersetzen. */

:root {
  font-size: 100%;
  line-height: 1;
  font-family: 'Boring Sans';
}

body {
  display: flex; /* Achsen-Layout: alles eingemittet */
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 10rem;
  margin: 0;
}

/* Animation Wrapper */

#name-animation-1 .wrapper {
  /* div.wrapper dient als «Vehikel» zum ein- und ausblenden */
  animation: rein-raus 4s infinite ease-in-out;
}

@keyframes rein-raus {
  0% { transform: translateX(-60vw); }
  20% { transform: translateX(-60vw); } /* Startposition */
  30% { transform: translateX(0vw); } /* von 30 bis 70 ist … */
  70% { transform: translateX(0vw); } /* … das Zeichen im Zentrum */
  80% { transform: translateX(55vw); } /* Endposition */
  100% { transform: translateX(55vw); }
}

/* Animation des Zeichens */

#name-animation-1 p {
  animation: change 4s infinite;
}

@keyframes change {
  0% { font-variation-settings: 'wrdn' 100, 'wght' 1000; }
  30% { font-variation-settings: 'wrdn' 100, 'wght' 1000; }
  70% { font-variation-settings: 'wrdn' 1000, 'wght' 1000; }
  100% { font-variation-settings: 'wrdn' 1000, 'wght' 1000; }
  /* Timing wie Animation rein-raus */
}